* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Century Gothic";
}

.encabezado {
  background-color: lightblue;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.encabezado button {
  background-color: #59b3a1;
  border-radius: 20px;
  border: none;
  color: white;
  font-weight: bold;
}

.encabezado button:hover {
  cursor: pointer;
}

.numAleatorio,
.algBurbuja,
.algQuicksort,
.numMayor,
.numMenor {
  background-color: tomato;
  margin: 20px auto;
  width: 75%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  flex-wrap: wrap;
}

.burbuja {
  width: 50%;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  background-color: rgba(71, 68, 68, 0.7);
}

.burbuja button {
  background-color: #85ea94;
  color: white;
  border: none;
  border-radius: 20px;
  font-weight: bold;
}

.burbuja button:hover {
  cursor: pointer;
}

.quicksort {
  width: 50%;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  background-color: silver;
}

.quicksort button {
  background-color: white;
  font-weight: bold;
  border: none;
  border-radius: 20px;
}

.quicksort button:hover {
  cursor: pointer;
}

.mayor {
  width: 50%;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  background-color: lightslategray;
}

.mayor button {
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 20px;
}

.mayor button:hover {
  cursor: pointer;
}

.menor {
  width: 50%;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  background-color: rgb(102, 104, 214);
}

.menor button {
  font-weight: bold;
  border: none;
  border-radius: 20px;
}

.menor button:hover {
  cursor: pointer;
}
